html, body{
    /* background-color: deepskyblue !important; */
    margin: 0;
    font-size: 20px;
    text-align: center;
}

#menu {
    background-image: url("../images/menu.png");
    width: 100%;
    height: 100%;
}

#menu span {
    display: block;
}

#levelInfo {
    position: absolute;
    display: none;
    font-size: 11rem;
    width: 100%;
    opacity: 0.3;
}

#timerInfo {
    position: absolute;
    width: 100%;
    opacity: 0.4;
}

#card {
    -webkit-transform: translate3d(0px,0px,0px);
}