html, body{
    /* background-color: deepskyblue !important; */
    margin: 0;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
}

#menu {
    font-family: Comic Sans MS;
    background-size: 100%;
    padding-top: 10%;
}

#menu #title {
    font-size: 4rem;
    padding-bottom: 5%;
}

#options {
    position: relative;
}

#options span {
    font-size: 1.5rem;
    display: block;
}

#levelInfo {
    position: absolute;
    display: none;
    font-size: 11rem;
    width: 100%;
    opacity: 0.3;
}

#timerInfo {
    position: absolute;
    width: 100%;
    opacity: 0.4;
}

#card {
    -webkit-transform: translate3d(0px,0px,0px);
}